@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 0 2rem;
}

@media screen and (min-width: 1000px) {
  .small {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .large {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.small, .large {
  display: flex;
  flex-direction: column;
}



